##############
# Misc Files #
##############

# Core Monorepo Files
./.vscode/* @jrkienle
./.gitignore @jrkienle
./.npmrc @jrkienle
./.prettierignore @jrkienle
./bunfig.toml @jrkienle
./codecov.yml @jrkienle
./eslint.config.js @jrkienle
./LICENSE @jrkienle
./package.json @jrkienle
./README.md @jrkienle
./setupTests.ts @jrkienle
./tsconfig.json @jrkienle
./turbo.json @jrkienle

# GitHub Actions Configurations
.github/* @jrkienle

########
# Core #
########

# Analytics
./packages/tracking/* @jrkienle @tyler-mitchell

# Shared Configuration
./packages/config/* @jrkienle @tyler-mitchell

# UI
./packages/react-route-generator/* @tyler-mitchell
./packages/ui @tyler-mitchell

###############
# FeatureType #
###############

# TODO: Should we move FeatureType to its own repo / org?
./packages/feature-type-cli @tyler-mitchell

###########
# TypeAPI #
###########

# Hono Middlware
./packages/hono-typebox-validator/* @jrkienle

########
# Apps #
########

# Landing Page
./apps/landing-page/* @jrkienle @tyler-mitchell
