##############
# Misc Files #
##############

# Core Monorepo Files
./.gitignore @jrkienle @tyler-mitchell
./.nvmrc @jrkienle @tyler-mitchell
./package.json @jrkienle @tyler-mitchell
./pnpm-workspace.yaml @jrkienle @tyler-mitchell
./turbo.json @jrkienle @tyler-mitchell

# GitHub Actions Configurations
.github/* @jrkienle

############
# Packages #
############

# Backend
./packages/backend/* @jrkienle
./packages/backend-auth-nextauth/* @jrkienle
./packages/backend-core/* @jrkienle
./packages/backend-graphql-pothos/* @jrkienle
./packages/backend-orm-prisma/* @jrkienle
./packages/backend-perms-auth0-fga/* @jrkienle
./packages/backend-server-nextjs/* @jrkienle

# Config
./packages/config/* @jrkienle @tyler-mitchell

# Tracking
./packages/tracking/* @jrkienle

# UI
./packages/ui @jrkienle @tyler-mitchell

########
# Apps #
########

# ADK Example Apps
./apps/example-adk-todo-list/* @jrkienle

# Landing Page
./apps/landing-page/* @jrkienle @tyler-mitchell
