# Build Output
.next
dist
**/storybook-static

# Dependencies
node_modules
**/node_modules

# Environment Variables
.env
.env.*
!.env.example

# ESLint Cache
.eslintcache

# Generated Code
**/generated
**/prisma/schema.prisma

# System Files
.DS_Store

# Test Results
coverage
test-results

# Turbo Command Output
.turbo
