# Build Output
.astro
.next
dist
**/storybook-static

# Dependencies
node_modules
**/node_modules

# Docker
docker-compose-data

# Environment Variables
.env
.env.*
!.env.example

# ESLint Cache
.eslintcache

# Generated Code
**/generated
**/prisma/schema.prisma
TypeAPI.d.ts

# System Files
.DS_Store

# Test Results
coverage
test-results

# Turbo Command Output
.turbo
