@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .filled-accent-primary {
    @apply bg-primary text-primary-content;
  }
  .filled-accent-secondary {
    @apply bg-secondary text-secondary-content;
  }
  .filled-accent-inverse {
    @apply bg-inverse text-inverse-content-max-contrast;
  }
  .filled-accent-heart {
    @apply bg-heart text-palette-white;
  }
  .filled-accent-info {
    @apply bg-info text-palette-white;
  }
  .filled-accent-positive {
    @apply bg-positive text-palette-white;
  }
  .filled-accent-caution {
    @apply bg-caution text-palette-white;
  }
  .filled-accent-danger {
    @apply bg-danger text-palette-white;
  }

  .gradient-primary {
    @apply bg-gradient-to-r from-primary-dark to-primary-light text-primary-content;
  }
  .gradient-secondary {
    @apply bg-gradient-to-r from-secondary-dark to-secondary-light text-secondary-content;
  }
  .gradient-inverse {
    @apply bg-gradient-to-r from-inverse-dark to-inverse-light text-inverse-content-max-contrast;
  }
  .gradient-heart {
    @apply bg-gradient-to-r from-heart-dark to-heart-light text-palette-white;
  }
  .gradient-info {
    @apply bg-gradient-to-r from-info-dark to-info-light text-palette-white;
  }
  .gradient-positive {
    @apply bg-gradient-to-r from-positive-dark to-positive-light text-palette-white;
  }
  .gradient-caution {
    @apply bg-gradient-to-r from-caution-dark to-caution-light text-palette-white;
  }
  .gradient-danger {
    @apply bg-gradient-to-r from-danger-dark to-danger-light text-palette-white;
  }

  .filled-hover-accent-primary {
    @apply hover:bg-primary-dark;
  }
  .filled-hover-accent-secondary {
    @apply hover:bg-secondary-dark;
  }
  .filled-hover-accent-inverse {
    @apply hover:bg-inverse-light;
  }
  .filled-hover-accent-heart {
    @apply hover:bg-heart-dark;
  }
  .filled-hover-accent-info {
    @apply hover:bg-info-dark;
  }
  .filled-hover-accent-positive {
    @apply hover:bg-positive-dark;
  }
  .filled-hover-accent-caution {
    @apply hover:bg-caution-dark;
  }
  .filled-hover-accent-danger {
    @apply hover:bg-danger-dark;
  }

  .outlined-accent-primary {
    @apply bg-surface-soft hover:bg-surface-dark/30 text-primary-content-min-contrast ring-boundary-weak;
  }
  .outlined-accent-secondary {
    @apply bg-surface-soft hover:bg-surface-dark/30 text-secondary-content-min-contrast ring-boundary-ghost;
  }
  .outlined-accent-inverse {
    @apply bg-surface-soft hover:bg-surface-dark/30 text-inverse ring-inverse/80;
  }
  .outlined-accent-heart {
    @apply bg-surface-soft hover:bg-surface text-heart ring-heart hover:ring-heart-dark;
  }
  .outlined-accent-info {
    @apply bg-surface-soft hover:bg-surface text-info ring-info hover:ring-info-dark;
  }
  .outlined-accent-positive {
    @apply bg-surface-soft hover:bg-surface text-positive ring-positive hover:ring-positive-dark;
  }
  .outlined-accent-caution {
    @apply bg-surface-soft hover:bg-surface text-caution ring-caution hover:ring-caution-dark;
  }
  .outlined-accent-danger {
    @apply bg-surface-soft hover:bg-surface text-danger ring-danger hover:ring-danger-dark;
  }

  .glass-accent-primary {
    @apply bg-primary/20  text-content-max-contrast hover:bg-primary/30;
  }
  .glass-accent-secondary {
    @apply bg-secondary/20 text-content-max-contrast hover:bg-secondary/30;
  }
  .glass-accent-inverse {
    @apply bg-inverse/30 text-palette-white hover:bg-inverse/40;
  }
  .glass-accent-heart {
    @apply bg-heart/10 hover:bg-heart/20 text-heart;
  }
  .glass-accent-info {
    @apply bg-info/10 hover:bg-info/20 text-info;
  }
  .glass-accent-positive {
    @apply bg-positive/10 hover:bg-positive/20 text-positive;
  }
  .glass-accent-caution {
    @apply bg-caution/10 hover:bg-caution/20 text-caution contrast-[.85];
  }
  .glass-accent-danger {
    @apply bg-danger/10 hover:bg-danger/20 text-danger;
  }

  .noisy-surface-texture {
    @apply before:content-['']  before:bg-[url('https://liveblocks.io/images/noise.png')] before:bg-repeat before:opacity-[0.035] before:absolute before:inset-0 before:h-full before:w-full before:bg-[length:125px] before:mix-blend-exclusion;
  }

  .conic-gradient {
    background-blend-mode: luminosity;
    background-color: var(--color-surface);
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      rgb(var(--color-surface-dark) / 27%) 0deg,
      rgb(var(--color-surface-dark) / 10%) 360deg
    );
  }
}
